body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    line-height: 2;
    font-size: 32pt;
    height: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 10px;
    a {
        color: white;
    }
}

.playlist-cards {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.playlist-card {
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 20px 0;
}

.playlist-text {
    padding: 0 10px;
    line-height: 30px;
}
.playlist-img {
    width: 200px;
    border-radius: 8px 8px 0px 0px;
}
.like-button{
    width: 16px;
}
.like-button:hover{
    width: 20px;
}
.bold {
    font-weight: bold;
}

footer {
    line-height: 1;
    font-size: 12pt;
    height: 30px;
    padding: 10px;
    background-color: black;
    color: white;
}

#playlist-info-container {
    display: inline-block;
    vertical-align: top;
}

#playlist-title, #playlist-creator {
    padding: 0 0 20px 20px;
}

#playlist-cover-img {
    width: 200px;
}

.song-item {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

.song-img {    
    width: 125px;
    border-radius: 8px 0px 0px 8px;
}

.song-title-container {
    margin: auto 10px;
}

.duration {
    margin: auto 0 auto auto;
    padding: 0 10px;
}

/* CSS for Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
 }
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }